beautifulsoup4==4.8.0
blinker==1.4
certifi==2019.6.16
chardet==3.0.4
docutils==0.15.2
feedgenerator==1.9
html5lib==1.0.1
idna==2.8
Jinja2==2.10.1
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.1
pelican==4.1.0
pkg-resources==0.0.0
Pygments==2.7.4
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
ronkyuu==0.6
six==1.12.0
soupsieve==1.9.2
Unidecode==1.1.1
urllib3==1.25.3
webencodings==0.5.1
