beautifulsoup4==4.7.1
blinker==1.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
docutils==0.14
feedgenerator==1.9
Flask==1.0.2
Flask-IndieAuth==0.0.3.2
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.1
pelican==4.0.1
Pillow==6.0.0
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.4
redis==3.2.1
requests==2.21.0
ronkyuu==0.6
rq==1.0
six==1.12.0
soupsieve==1.9.1
Unidecode==1.0.23
urllib3==1.24.2
webencodings==0.5.1
Werkzeug==0.15.2
