{% if article.photos %}
{% set photos = article.photos.split(',') %}
{% endif %}
{% if article.photos_alt %}
{% set photos_alt = article.photos_alt.split('(?<!x),') %}
{% endif %}

<div class="card">
    <div class="card-body">
        <div class="card-text">
            <header class="article-header">
                {% include 'includes/article_info_head.html' %}
            </header>
            
            {% for like in article.like_of %}
            <div class="my-2">
                Liked:
                <div class="mb-3 related-url">
                    {% if like.startswith('https://twitter.com') %}
                    <script>
                        twttr.ready(function (twttr) {
                            twttr.widgets.createTweet('511181794914627584',
                                         document.getElementById('{{like}}'),{
                                        align: 'left'
                                    }).then(function (el) {
                                 console.log("Tweet displayed.")
                          })});
                    </script>
                    <div id='{{like}}'></div>
                    {% else %}
                    <a class="u-like-of" href="{{like}}">{{like}}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
            {% for repost in article.repost_of %}
            <div class="my-2">
                Reposted:
                <div class="mb-3 related-url">
                    <a class="u-repost-of" href="{{repost}}">{{repost}}</a>
                </div>
            </div>
            {% endfor %}
            
            {% for reply in article.in_reply_to %}
            <div class="my-2">
                Replied to:
                <div class="mb-3 related-url">
                    <a class="u-in-reply-to" href="{{reply}}">{{reply}}</a>
                </div>
            </div>
            {% endfor %}
            
            <div class="my-2 entry-content e-content">
                {{ article.content }}
                {% for photo in photos %}
                {% if photos_alt %}
                <img src="{{photo}}" alt="{{ photos_alt[loop.index0] | replace('\,', ',') }}"
                     class="u-photo embedded-photo"/>
                {% else %}
                <img src="{{photo}}" class="u-photo embedded-photo"/>
                {% endif %}
                {% endfor %}
            </div>
            {% include 'includes/article_info_foot.html' %}
        </div>
    </div>
</div>
