{% extends "article_list.html" %}

{% set mainnavindex = 1 %}

{% set articles = dates %}

{% block title %}
Archives for {{ period | reverse | join(' ') }} - {{ SITENAME }}
{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,follow" />
{% endblock %}

{% block article_list_title %}
<header class="article-list-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/all">Lifestream</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Archives for {{ period | reverse | join(' ') }}
        </li>
      </ol>
    </nav>
    
    <h1 class="index-title mb-4">Archives for {{ period | reverse | join(' ') }}</h1>
</header>
{% endblock %}
