<div class="article-info text-muted">
    {% if article.subcategories or article.tags %}
    <div class="article-info-line d-flex taxonomy-line">
        {% if article.subcategories %}
        <span class="article-info-span">
            <span class="fa fa-folder"></span>
            <a href="{{ SITEURL }}/{{article.subcategories[0].url}}" class="p-category">
                {{article.subcategories[0].shortname}}
            </a>
        </span>
        {% endif %}

        {% if article.tags %}
        &#183;
        <span class="article-info-span">
            <span class="fa fa-tag fa-flip-horizontal"></span>
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="p-category">
                {{tag}}
            </a>
            {% if not loop.last %},{% endif %}
            {% endfor %}
        </span>
        {% endif %}
    </div>
    {% endif %}
    <div class="article-info-line d-flex">
        {# Like posts do not have likes or reposts or replies  #}
        {% if not article.like_of %}
        {% include 'includes/webmentions.html' %}
        {% endif %}
        <span class="mr-auto"></span>

        {% if article.twitter_id %}
        <span class="article-info-span">
            <a href="{{ TWITTER_LINK.format(twitterid=article.twitter_id) }}">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        {% endif %}

        {% if not article.like_of %}
        {% for wml in article.syndication %}
        {% if wml.startswith('https://twitter.com') %}
        <span class="article-info-span">
            <a class="u-syndication" href="{{ wml }}">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>

