<div class="article-info text-muted">
    <div class="p-author h-card">
        <img class="u-photo float-left mr-2" src="{{ H_CARD_PHOTO }}"
             width="36px" height="36px"/>
        
        <a class="p-name u-url" href="{{ SITEURL }}">
            {% if article.author %}
            {{ article.author }}
            {% else %}
            {{ AUTHOR }}
            {% endif %}
        </a>
    </div>
    <time class="dt-published" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
    </time>
</div>
