<cite class="article-info text-muted">
     <div class="article-info-line">
         {% if 'author' in preview %}
         <span class="article-info-span">
             <a class="p-author h-card" href="{{ preview.author.url }}">
                 <img src="{{ preview.author.photo }}" width="24px" height="24px"/>
                {{ preview.author.name }}
             </a>
         </span>
         &#183;
         {% endif %}
         {% if 'published_locale' in preview %}
         <span class="article-info-span">
             {{ preview.published_locale }}
         </span>
         {% endif %}
        
     </div>
 </cite>

<div class="card-preview card">
  
    {% if image_status == 'large' %}
        <a href="{{preview.url}}">
            <img class="card-img-top" src="{{preview.image}}">
        </a>
        {% include 'includes/preview_card_body.html' %}
    {% elif image_status == 'small' %}
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="{{preview.image}}"
                     width="175" height="175">
            </div>
            <div class="col-md-9">
                {% include 'includes/preview_card_body.html' %}
            </div>
        </div>

    {% else %}
        {% include 'includes/preview_card_body.html' %}
    {% endif %}
</div>
