<blockquote>
    <cite class="article-info text-muted">
        <div class="article-info-line">
              <span class="article-info-span">
                <a class="p-author h-card" href="{{ preview.author.url }}">
                    <img src="{{ preview.author.photo }}" width="24px" height="24px"/>
                   {{ preview.author.name }}
                </a>
            </span>
              &#183;
              <span class="article-info-span">
                {{ preview.published_locale }}
            </span>
        </div>
    </cite>

    {% if 'title' in preview %}
    <h5>{{preview.title}}</h5>
    {% endif %}
    {% if 'description' in preview %}
    <p>{{preview.description}}</p>
    {% endif %}
</blockquote>
