{% if article.twitter_id %}
<span class="mr-3">
    <span class="article-info-span">
        <a class="u-syndication" href="{{ TWITTER_LINK.format(twitterid=article.twitter_id) }}">
            <i class="fab fa-twitter"></i>
        </a>
    </span>
</span>
{% endif %}

{% if not article.like_of %}
{% for wml in article.syndication %}
{% if wml.startswith('https://twitter.com') %}
<span class="mr-3">
    <span class="article-info-span">
        <a class="u-syndication" href="{{ wml }}">
            <i class="fab fa-twitter"></i>
        </a>
    </span>
</span>
{% endif %}
{% endfor %}
{% endif %}
